<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtest1">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL " />
    <uses-permission android:name="android.permission.RETRIEVE_WINDOW_CONTENT " />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.example.androidtest1.VoiceControlBroadcast">
            <intent-filter>
                <action android:name="net.blogjava.mobile.MYBROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
